:root {
    /* colors */
    --neutral: rgb(101,101,120);
    --dark: rgb(70, 70, 70);
    --darkest: rgb(42, 42, 42);
    --lightest: white;
    --primary-light: rgb(200, 238, 238);
}
a[target="_blank"]:after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==');
    margin: 0 3px 0 5px;
}

*, * > * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--dark);
    scroll-behavior: smooth;
}

body {
  font-size: small;
}

main {
    min-height: 80vh;
}

li {
  list-style-type: none;
}
a:visited {
    color: var(--dark);
}

#logo {
  width: 6rem;
}

.GitHub-SignIn > svg{
  /* Github signin button */
  
  background-color: white;
}
a:active, a:focus {
    border: none;
}

.profile_pic {
    border-radius: 100%;
}
.profile_pic_square {
    border-radius: 3px;
}
.profile_pic_square:hover, .profile_pic:hover {
    box-shadow: 3px 3px 7px rgb(219, 219, 219);
}

.sidebar-container {
    position: fixed;
    height: 100%;
    width: 12rem;
}
.sidebar {
    margin-top: 3rem;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar > li {
    padding: 9px;
}
.sidebar > li:hover {
    background-color: var(--primary-light);
    box-shadow: 3px 3px 7px rgb(219, 219, 219);
}
main {
  margin-left: 12rem;
  padding-top: 1rem;
  padding-left: 2rem;
  background-color: whitesmoke;
}
.card {
    box-shadow: 3px 3px 7px rgb(219, 219, 219);
    max-width: 30%; 
}
