:root {
    /* colors */
    --neutral: rgb(101,101,120);
    --dark: rgb(70, 70, 70);
    --darkest: rgb(42, 42, 42);
    --lightest: white;
    --primary: #39d9de;
    --secondary-light: rgb(175, 255, 231);
    --tertiary: #de38a3;
    --tertiary-light: #fee4f5;
}
a[target="_blank"]:after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==');
    margin: 0 3px 0 5px;
}

*, * > * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
  font-size: small;
  background-color: whitesmoke;
}

main {
    min-height: 80vh;
    margin-left: 18rem;
    margin-right: 18rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
li {
  list-style-type: none;
}
a:visited {
    color: var(--dark);
}

#logo {
  width: 6rem;
}

.GitHub-SignIn > svg{
  /* Github signin button */
  
  background-color: white;
}
a:active, a:focus {
    border: none;
}

.profile_pic {
    border-radius: 100%;
}
.profile_pic_square {
    border-radius: 3px;
}
.profile_pic_square:hover {
    box-shadow: 3px 3px 7px rgb(219, 219, 219);
}
.profile_pic:hover {
    box-shadow: 3px 3px 7px rgb(52, 52, 52);
}

a[target="_blank"]::after {
    content: none;
    margin: 0 3px 0 5px;
  }
.sidebar-container {
    position: fixed;
    height: 100%;
    width: 18rem;
    padding-top: 1rem;
    background-color: white;
}
.sidebar-container-right {
    position: fixed;
    padding-right: 6rem;
    right: 0;
    top: 0;
    height: 100vh;
    width: 18rem;
}
.sidebar-container-left {
    padding-left: 6rem;
}
.sidebar-nav {
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav-item {
    border-radius: 3px;
    margin-left: 9px;
    margin-right: 9px;
}
.sidebar-nav > li:hover {
    background-color: var(--secondary-light);
    box-shadow: 3px 3px 7px rgb(52, 52, 52);
}
.sidebar-nav a {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 11px;
}
.sidebar-nav > li:hover, .sidebar-nav  a:hover {
    color: var(--dark);
}
.user-card {
    box-shadow: 3px 3px 7px rgb(219, 219, 219);
    max-width: 49%; 
}

.right-panel-section {
    margin: 3px 0 3px 3px;
    height: 100%;
    max-height: 29%;
    overflow-y: hidden;
}
.sidebar-nav > *, .sidebar-container * * {
    color: var(--lightest);
}
#notification_list {
    overflow-y: scroll;
    background-color: white;
    color: var(--dark);
}

.notification, .notification * {
    padding: 2px;
    color: var(--dark);
}
.notification {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-top: 3px;
}
.notification a {
    text-decoration: none;
}
.unread {
    background-color: var(--tertiary-light);
    color: var(--dark);
}

.sidebar-container {
    background-color: #292f2f;
}