.users-side-panel {
    background-color: var(--primary);
}
.users-side-panel > .nav-link {
    color: black;
}

.projects-side-panel > a {
    color: var(--lightest);
}
.discover-side-panel > a {
    color: var(--lightest);
}