{% extends "base.html" %}
{% block title %}Dash{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/scripts/check.js"></script>
    
{% endblock %}

{% block content %}




<section id="my_projects">
    <h2>My Projects</h2>
    <button id="create_btn" class="btn btn-primary">Create a dummy Project</button>
</section>

{% for proj in data.projects %}
    <div class="card w-25 p-2 m-1">
        {{proj.name}}
    </div>
{% endfor %}


<script type="module" data-user_id="{{ current_user.id }}" data-user_access_token="{{ current_user.access_token }}" src="../static/scripts/notifications/notifications.js"></script>

{% endblock %}