<!doctype html>
<html>

  <head>
    {% block head %}

    <!-- TODO -->
    <!-- put css links here -->
    <!-- END TODO -->
    <title>
      {% block title %}
      {% endblock %} - Makers
    </title>
    {% endblock %}
  </head>

  <body>

    <header>
      <div id="home_logo">
        <a href="/">
          <!-- <img> logo goes here -->
        </a>
      </div>

      <nav>
        <a href="/">Home</a>
        <a href="{{ url_for('landing.about') }}">About Us</a>
        {% if data.authenticated_user %}
        <a href="/">Login</a>
        {%  else  %}
        <a href="{{ url_for('landing.auth_page') }}">Sign Up</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <nav>
        <a href="/">Home</a>
        <a href="{{ url_for('landing.about') }}">About Us</a>
        {% if data.authenticated_user %}
        <a href="/">Login</a>
        {%  else  %}
        <a href="{{ url_for('landing.auth_page') }}">Sign Up</a>
        {% endif %}
        <a href="{{ url_for('landing.contact_us') }}">Contact Us</a>
      </nav>
      <!-- ADD a Copyright?? -->
      <!-- &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>. -->
    </div>

  </body>

</html>
