{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div>
  <ul>
    <li><a href="mailto: fakeEmail@fake.com">fakeEmail@fake.com</a></li>
    <li style="margin: 1rem 0"><a href="https://twitter.com/makersclubtulsa?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @makersclubtulsa</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    <li><a class="github-button" href="https://github.com/Makers-Club" aria-label="Follow @Makers-Club on GitHub">Follow @Makers-Club</a><script async defer src="https://buttons.github.io/buttons.js"></script></li>
  </ul>
</div>

{% endblock %}
