{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div>
  <ul>
    <li><a>Email</a></li>
    <li><a href="https://twitter.com/makersclubtulsa?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @makersclubtulsa</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    <li><a>FaceBook</a></li>
    <li><a>GitHub</a></li>
  </ul>
</div>

{% endblock %}
