{% extends "base.html" %}
{% block title %}Dash{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/scripts/check.js"></script>
{% endblock %}

{% block content %}

{% if data %}
    {% if data.current_user %}
        {% set current_user = data.current_user %}
    {% else %}
        {% set current_user = None %}
    {% endif %}
{% endif %}


Dashboard
<img src="{{ current_user.avatar_url }}" height="100" width="100"/>
<br/>
Welcome, {{ current_user.name }}<br>
@{{ current_user.handle }}

<a href="{{ url_for('projects.project')}}">Start project</a>

<br><br>
<a href="https://buy.stripe.com/cN29ACaIY3S44IUbIJ">Give russ money</a>


{% endblock %}
