{% extends "base.html" %}
{% block title %}Dash{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/scripts/check.js"></script>
{% endblock %}

{% block content %}

{% if data %}
    {% if data.current_user %}
        {% set current_user = data.current_user %}
    {% else %}
        {% set current_user = None %}
    {% endif %}

    {% if data.projects %}
        {% set projects = data.projects %}
    {% else %}
        {% set projects = None %}
    {% endif %}
{% endif %}


<!--

<br><br>
<a href="https://buy.stripe.com/cN29ACaIY3S44IUbIJ">Give russ money</a>
-->
{% if data.templates %}
{% set templates = data.templates %}

<section class="px-4 py-5">
    <h1 class="pb-5">Recreate Real Work</h1>
    <div class="row">
{% for template in templates %}
        <div class="card col-3 m-2">
            <div class=" text-right">
                <h4><a href="{{ template.link }}" class="text-info" target="_blank">{{ template.name }}</a></h4>
                <img class="template_preview" src="{{ template.preview_images }}" alt="{{ template.name }}_preview">
            </div>
            <div>
                
                <p class="card-text">
                    Developer: <a href="{{ url_for('users.profile', handle=template.author) }}"> @{{ template.author }}</a><br><br>
                    <small class="text-sm">{{ template.description }}<br><br></small>
                </p>
                <a href="{{ url_for('projects.create_project', template_id=template.id)}}" class="row align-items-center justify-content-around border">
                    <button class="btn text-primary bg-warning w-100">Start project - {{ template.cost }} credits</button>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% else %}
Project Templates failed to load. Try a hard refresh of the page. (ctr + shift + R)
{% endif %}

{% endblock %}
