{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
{% endblock %}

{% block content %}
<!--
<img id="github-signup" src="https://storage.googleapis.com/makers-club-static/Github%20signup%20button" onclick="{{ data.func }}">

-->
<section class="bg-hero" id="hero">
  <div class="container w-75 p-0">
    
    <header class="" id="callToAction">
      <h1 class="display-3">Let's play<br>dev-team together</h1>
    </header>
    
    <div class="container py-4" id="options">
      <div class="row justify-content-between">

        <div id="forStudents" class="card my-3 my-md-0 col-12 col-md-5">
    
          <div class="card-body px-0">
            <header>
              <h3 class="card-title">For students</h3>
            </header>
            <p class="card-text">Lorem ipsum dolor sit amet, consec utetur adipiscing elit. Sed do eiusmod tempor arana incididunt ut labore et.</p>
            <img src="https://storage.googleapis.com/makers-club-static/Github%20signup%20button" onclick="{{ data.func }}" class="img-fluid">
          </div>

        </div>
    
        <div id="forEmployers" class="card col-12 col-md-5">
    
          <div class="card-body px-0">
            <header>
                <h3>For employers</h3>
            </header>
            <p class="card-text">Lorem ipsum dolor sit amet, consec utetur adipiscing elit. Sed do eiusmod tempor arana incididunt ut labore et.</p>
            <button type="button" class="btn border w-100" disabled>coming soon</button>
          </div>
    
        </div>
      </div>   
    </div>

    <div class="container pb-3">
      <div class="row justify-content-center">
        <a class="text-center text-underline">LEARN MORE</a>
      </div>
    </div>
    
  </div>
</section>


<section id="howItWorks"></section>

{% endblock %}
