{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
{% endblock %}

{% block content %}

<section class="bg-hero" id="hero">
  <div class="container w-75 p-0">
    
    <header class="" id="callToAction">
      <h1 class="display-4">So you're a coder,<br>but are you a Maker?</h1>
    </header>
    
    <div class="container py-4" id="options">
      <div class="row justify-content-between">

        <div id="forDevelopers" class="card my-3 my-md-0 col-12 col-md-6 developer-card">
    
          <div class="card-body px-0">
            <header>
              <h3 class="card-title">For developers</h3>
            </header>
            <p class="card-text">Software students learn how to code, not how to build complete products. Companies then spend $75K+ training new hires. Maker Teams is a platform providing virtual apprenticeship through guided, team-based projects, based on REAL work. Pre-signup today!</p>
            <!-- GitHub Sign up Button START -->
            <a href="{{ url_for('auth.send_visitor_to_github') }}">
                <img class="img-fluid github-signup-btn" src="https://storage.googleapis.com/maker_teams_public_images/Github%20signin%20button%20(2).png">
            </a>
            <!-- GitHub Sign up Button END -->
            
          </div>

        </div>
        <div id="forEmployers" class="card col-12 col-md-6 employer-card">
    
          <div class="card-body px-0 d-flex flex-column justify-content-between">
            <header>
                <h3>For employers</h3>
            <p class="card-text">Technical and professional insights that help you find developer talent for your specific needs, coming soon!</p>
            </header>
            <button type="button" class="btn border w-100" disabled>coming soon</button>
          </div>
    
        </div>
      </div>   
    </div>

    
    
  </div>
</section>









{% endblock %}
