{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section style="margin: 5rem 0;" id=hero>
  <h1>Sign Up / Login</h1>
  <button id="button" onclick="login()">Login</button>

<script>
    function login() {
    window.location.href = "https://github.com/login/oauth/authorize?client_id=25ea07bd2d607833d0bd&scope=user";
    }

</script>
</section>

<section style="margin-bottom: 5rem;" id=how_it_works>
  <h1>Sign Up / Login</h1>
  <a href="{{ url_for('landing.auth_page') }}">Sign Up</a>
</section>
{% endblock %}
