{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% if data.current_user %}
    {% set current_user = data.current_user %}
    {% if data.user_profile %}
        {% set user_profile = data.user_profile %}    
        {% if user_profile.handle == current_user.handle %}
        {% set is_my_profile = True %}
        {% else %}
        {% set is_my_profile = False %}
        {% endif %}
    {% endif %}
{% else %}
    {% set current_user = None %}
{% endif%}


{% block content %}

{% if user_profile %}
    <section>
        <p>{{ user_profile.handle }}</p>
        <img src="{{ user_profile.avatar_url }}" height="100" width="100"/>
        <p>name: {{ user_profile.name }}</p>
    </section>
{% else %}
    <section>
        <p>
            User Not found
        </p>
    </section>
{% endif %}

{% if is_my_profile %}
<section class="pb-5 mb-5">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    DELETE ME
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Permentaly DELETE your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST">
                    <input type="submit" value="Yes DELETE" class="form-control btn btn-danger"/>
                </form>
            </div>
            </div>
        </div>
    </div>

</section>

{% endif %}

<script type="application/javascript" src="/static/users.js"></script>
{% endblock %}
