{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% if data.current_user %}
    {% set current_user = data.current_user %}
    {% if data.this_profile %}
        {% set this_profile = data.this_profile %}    
        {% if this_profile.handle == current_user.handle %}
        {% set is_my_profile = True %}
        {% else %}
        {% set is_my_profile = False %}
        {% endif %}
    {% endif %}
{% else %}
    {% if data.this_profile %}
        {% set this_profile = data.this_profile %}
    {% endif %}
    {% set current_user = None %}
{% endif%}


{% block content %}


<section>
    <a href="{{ url_for('users.all') }} "><- Back to all users</a>
    <div class="container pt-5">
        <div class="row justify-content-between"> <!-- profile info top -->
            <div class="row col-6 align-items-center"> <!-- img ghHandle name -->
                <div class="">
                    <a href="https://github.com/{{this_profile.handle}}">
                        <img src="{{ this_profile.avatar_url }}" height="100" width="100"/>
                    </a>
                </div>
                <div class="ml-4">
                    <a href="https://github.com/{{this_profile.handle}}">/{{ this_profile.handle }}</a>
                    <p>name: {{ this_profile.name }}</p>
                </div>
            </div>
            <div class="col-6">
                <input id="editing" type="checkbox"/>
                <div> <!-- update button -->
                    <form>
                        <input type="submit" value="Update"/>
                    </form>
                </div>
            </div>
            <div class="row col-12"> <!-- about me / email / roles -->
                <div class="col-3">
                    <p>email</p>
                    <p>about me</p>
                </div>
                <div class="col-3">
                    <h6>Roles:</h6>
                    <div>
                        {{ this_profile.roles }}
                    </div>
                </div>
            </div>
        </div>
        <div> <!-- profile info bottom -->
            <h4>Projects</h4>
            <div class="container"> <!-- list of projects -->
                {{ this_profile.projects }}
                <div class="row">
                    <p>test Project</p>
                    <form class="ml-4" method="POST"> <!-- action=" url_for(projects.delete) "-->
                        <input type="submit" value="Delete" />
                    </form>
                </div>
            </div>

            <h4>Teams</h4>
            <div class="container"> <!-- list of teams -->
                {{ this_profile.teams }}
                <div class="row">
                    <p>test Project</p>
                    <form class="ml-4" method="POST"> <!-- action=" url_for(teams.delete) "-->
                        <input type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
          
    </div>
</section>

{% if is_my_profile %}
<section class="pb-5 mb-5">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    DELETE ME
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Permentaly DELETE your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('users.delete_user', handle=current_user.handle) }}" method="POST">
                    <input type="submit" value="Yes DELETE" class="form-control btn btn-danger"/>
                </form>
            </div>
            </div>
        </div>
    </div>

</section>

{% endif %}

<script type="application/javascript" src="/static/users.js"></script>
{% endblock %}
