{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}







<!-- set current user -->

{% if data.current_user %}
    {% set current_user = data.current_user %}
{% else %}
    {% set current_user = None %}
{% endif%}


<!-- set project -->

{% if data.project %}
    {% set project = data.project %}
{% else %}
    {% set project = None %}
{% endif%}

{% block content %}
<section class="w-100  border  h-100">
<script type="module" data-user_handle="{{ current_user.handle }}" data-user_id="{{ current_user.id }}" data-user_access_token="{{ current_user.access_token }}" src="../static/scripts/project.js"></script>
<h2>{{ project.name }}</h2>
    <br>
        <h4>
        Created by
        <a href="{{ url_for('users.profile', handle=project.owner_handle) }}">
            {{ project.owner_handle }}
        </a>
        </h4>

    <div class="card bg-dark">
        <div class="p-3">
            
        </div>
    </div>

    {% if current_user.handle == project.owner_handle %}
    <button id="create_sprint">create sprint</button>

    <div id="current_sprint"></div>
        
    <ul id="sprints">
        {% for s in data.sprints|sort(attribute='id', reverse=True) %}
            {% for i, v in s.items() %}
                {{i, v}}<br>
                {% endfor %}
                <br><br>
                {% endfor %}
    </ul>

    {% else %}
    ljkdajdas
    {% endif %}
</section>

{% endblock %}
