{% extends "base.html" %}
{% block title %}Dash{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/scripts/check.js"></script>
{% endblock %}

{% block content %}

{% if data %}
    {% if data.current_user %}
        {% set current_user = data.current_user %}
    {% else %}
        {% set current_user = None %}
    {% endif %}
{% endif %}

<h1>{{ data.name }}</h1>
<h3>for {{ current_user.name }} </h3>

<p> Create a repo named "{{ data.repo }}".</p>

<button onclick="check( '{{ current_user.handle }}', '{{ data.repo }}' )">Check your repo</button>

<div id="target">Result goes here</div>


{% endblock %}
