{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}







<!-- set current user -->

{% if data.current_user %}
    {% set current_user = data.current_user %}
{% else %}
    {% set current_user = None %}
{% endif%}


<!-- set project -->

{% if data.project %}
    {% set project = data.project %}
{% else %}
    {% set project = None %}
{% endif%}

{% block content %}
<section class="w-100 h-100 d-flex p-2 justify-content-center ">
<script type="module" data-user_handle="{{ current_user.handle }}" data-user_id="{{ current_user.id }}" data-user_access_token="{{ current_user.access_token }}" src="../static/scripts/project.js"></script>

<div class="user-card card bg-dark lighter h-100 w-100 p-2">
    <div class="col rounded p-2">
        <h2>{{ project.name }}</h2>
        <h6>
            <img class="profile_pic" height="33" width="33" src="{{ project.user_pic }}"></im>
            <a href="{{ url_for('users.profile', handle=project.owner_handle) }}">
                {{ project.owner_handle }}
            </a>
        </h6>
    </div>

    {% if current_user.handle == project.owner_handle %}
    <div class="w-100 rounded my-2 p-2">
        <button id="create_sprint">create sprint</button>

        <div id="current_sprint"></div>
            
        <ul id="sprints">
            {% for s in data.sprints|sort(attribute='id', reverse=True) %}
                {% for i, v in s.items() %}
                    {{i, v}}<br>
                    {% endfor %}
                    <br><br>
                    {% endfor %}
        </ul>
    </div>
</div>


    {% endif %}

</section>

{% endblock %}
