{% extends "base.html" %}
{% block title %}Sprint{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

{% if data.sprint %}
    {% set sprint = data.sprint %}
{% endif %}

{{ data.sprint}}
<p id="description">
    <h3>Description:</h3>
</p>
<p id="goals">
    <h3>Goals:</h3>
    <ul>
    </ul>
</p>

<p id="videos">
    <div class="mx-2">
        <iframe width="560" height="315" src="{{video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</p>

<p id="resources">
    <h3>Resources</h3>
    <ul>
        {% for resource in sprint.resources %}
        <li><h5><a href="{{resource.link}}">{{resource.name}}</a></h5></li>
        {% endfor %}
    </ul>
</p>



<div id="quizes">
    {% for quiz in sprint.quizes %}
    <a href="{{quiz}}">Quiz link would go here.</a>
    {% endfor %}
</div>


<section id="tasks">

    {% for task in sprint.tasks %}
        <a href="{{ url_for('tasks.index', id=task)  }}">
        <div class="card h4">
            {{ task }}
        </div>
    </a>
    {% endfor %}

</section>

{% endblock %}
