{% extends "base.html" %}
{% block title %}Task{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/static/scripts/check.js"></script>
{% endblock %}

{% block content %}

{% if data.info %}
    {% set info = data.info %}
{% endif %}
{% set task = data.task %}


<section>
<h1>Task {{ info.number }}</h1>    
    <p id="goals">
        <h3>Goals:</h3>
        <ul>
                <li>* {{ info.goals }}</li>
        </ul>
    </p>

    <p id="resources">
        <h3>Resources</h3>
        <ul>
            {{info.resources}}
        </ul>
    </p>

    <div id="description">
        <h4>Task Description</h4>
        <p>
            {{ info.description }}
        </p>
    </div>

    {{info.tech_dependencies}}
    <div id="code" style="border: 1px solid black;background-color: aliceblue;">
        <pre><code>{{ info.tests }}</code></pre>
    </div>

    <div id="task_status">
        <div style="display: flex;">
            {% if task.complete %}
            <p>Staus: Complete </p>
            {% else %}
            <p>Status: Incomplete</p>
            {% endif %}            
            <button onclick="check{{current_user.id}}, {{current_user.repo}}">The Thingy</button>
        </div>
    </div>
</section>

{% endblock %}
