{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}"> 
{% endblock %}







<!-- show you, current user -->

{% if data.current_user %}
    {% set current_user = data.current_user %}
{% else %}
    {% set current_user = None %}
{% endif%}

{% block content %}

<section class="w-100 d-flex flex-column mt-3 justify-content-center align-items-center">
<!-- show list of users -->
{% if data %}
    {% if data.users %}
        {% set users = data.users %}
    {% endif %}
{% endif %}
<div class="row  d-flex flex-wrap p-0 w-100 pl-3 pr-3">

{% for user in users %}

            <div data-role="{{ user.roles_of_interest }}" class="col user-card card bg-dark mx-1 mb-3  p-2">
                
                <div class="pr-0 m-0 mb-2 row justify-content-between w-100 px-2 py-2 rounded">
                    <div class="pr-0 m-0 row">
                        <a href="{{ url_for('users.profile', handle=user.handle) }}">
                            <img class="profile_pic_square" src="{{ user.avatar_url }}" height="50" width="50" />
                        </a>
                        <a href="{{ url_for('users.profile', handle=user.handle) }}" class="pl-2">
                            <span class="h5">{{ user.name }}</span>
                                <br>
                            <span class="">@{{ user.handle }}</span>
                        </a>
                    </div>
                    <a href="https://github.com/{{user.handle}}" target="_blank">
                        <img class="profile_pic" src="https://vectr.com/makerteams/dd7C3gKlo.svg?width=640&height=640&select=a39bztyDM3" width="22" height="22">
                    </a>
                </div>
                
                <div class="px-2 py-2 rounded">
                    <strong>Roles of Interest:</strong>
                    <br> 
                    {% if user.roles_of_interest %}
                        {{ user.roles_of_interest.replace(':', ', ') }}
                    {% else %}
                        Undeclared
                    {% endif %}
                </div>

            </div>
        

    {% endfor %}
</div>
  
</section>


{% endblock %}