{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}





<!-- show you, current user -->

{% if data.current_user %}
    {% set current_user = data.current_user %}
{% else %}
    {% set current_user = None %}
{% endif%}

{% block content %}

<section class="container col-sm-12 col-md-10">
    


<!-- show list of users -->


{% if data %}
{% if data.users %}
{% set users = data.users %}
{% endif %}
{% endif %}


    {% for user in users %}
        {% if user.id != current_user.id %}
            <div class="border">
                <a href="{{ url_for('users.profile', handle=user.handle) }}">
                    <img class="profile_pic" src="{{ user.avatar_url }}" height="100" width="100"/>
                </a>
                <p>{{ user.name }}<br>
                {{ user.handle }}</p>
            </div>
        {% endif %}
    {% endfor %}
</section>


{% endblock %}